body {
	background-color: #FFB582;
}
.jumbotron {
	background-color: #FFB582;
}
.container-fixed {
  margin: 0 auto;
  max-width: 960px;
}
.container-fixed > hr {
  margin: 30px 0;
}
#bandsintown{
	background-image:url("bandsintown.png");
	width:64px;
	height:64px;
	background-position: -2px 0;
}
#twitter{
	background-image:url("twitter.png");
	width:64px;
	height:64px;
	background-position: -1px 0;
}
#meetup{
	background-image:url("meetup.png");
	width:64px;
	height:64px;
}
#flickr{
	background-image:url("flickr.png");
	width:64px;
	height:64px;
	background-position: -1px 0;
}