body {
	background-color: #FFB582;
}
.jumbotron {
	background-color: #FFB582;
}
.container-fixed {
  margin: 0 auto;
  max-width: 960px;
}
.container-fixed > hr {
  margin: 30px 0;
}
#bandsintown{
	background-image:url("bandsintown.png");
	width:64px;
	height:64px;
	background-position: -2px 0;
}
#twitter{
	background-image:url("twitter.png");
	width:64px;
	height:64px;
	background-position: -1px 0;
}
#meetup{
	background-image:url("meetup.png");
	width:64px;
	height:64px;
}
#flickr{
	background-image:url("flickr.png");
	width:64px;
	height:64px;
	background-position: -1px 0;
}
.btn.btn-default.sources{
	border-radius: 12px;
}
.btn.btn-default.sources.active{
	border:2px solid #000;
}
#city,button.btn.btn-default{
	border-color: #000;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar{
	display: none;
	padding-bottom: 32px;
}
#content .col-xs-12 {
	background-color: #FFF;
	margin: 2px 0;
	padding-top: 12px;
	padding-bottom: 48px;
}
#content .col-xs-12.flickr{
	text-align: center;
	background-image: url("/static/flickr.png");
	background-repeat: no-repeat;
	background-position: 98% 98%;
}
#content .feed-media{
	width: 80%;
}

#content .col-xs-12.Twitter{
	background-image: url("/static/twitter.png");
	background-repeat: no-repeat;
	background-position: 98% 98%;
}
#content .col-xs-12.Meetup{
	background-image: url("/static/meetup.png");
	background-repeat: no-repeat;
	background-position: 98% 98%;
}
#content .col-xs-12.BandsInTown{
	background-color: #FFF;
	text-align: center;
	background-image: url("/static/bandsintown.png");
	background-repeat: no-repeat;
	background-position: 98% 98%;
}